#t-base-intro #t-hero-intro {
    height: 383px;
    width: 100%;
}

#t-base-intro #t-intro-container {
    width: 340px;
}

#t-base-intro #t-intro-welcome {
    text-transform: uppercase;
    font-size: 14px;
    color: #999999;
    margin-bottom: 24px;
}

#t-base-intro #t-intro-title {
    font-weight: normal;
    margin-bottom: 32px;
}

#t-base-intro #t-intro-description {
    line-height: 150%;
    margin-bottom: 32px;
}

#t-base-intro #t-intro-button {
    display: flex;
    align-items: center;
}

#t-base-intro .t-intro-explore {
    background-color: #42FFD2;
}

#t-base-intro .t-intro-create {
    margin-left: 16px;
    background-color: #ffffff;
}